# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

implicits==1.0.2

# Flask Framework
Flask==2.2.2

# Flask Packages
Flask-Cors==3.0.4
Flask-SQLAlchemy==2.5.1
Flask-User==1.0.2.2
email_validator==1.3.0