{% extends 'backable.html' %}

{% block content %}
<h5 class="card-header">Manage Category</h5>
<div class="card-body">
  <div class="card-text">
    <form method='post' action={{ url_for('update_category') }}>
      <input type="hidden" name="id" id="id" value="{{ category.id }}">
      <div class="form-group mb-1">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" id="name" value="{{ category.name }}" class="form-control">
      </div>
      <input type="submit" value="Update" class="btn btn-primary">
    </form>
  </div>
</div>
<div class="card-header">Moderators:</div>
<div class="card-body">
  <div style="overflow: scroll; height: 222px;"> 
    <table id="moderatorsTbl" class="table table-striped table-bordered table-hover table-sm table-responsive" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for u in category.moderators %}
        <tr>
          <td>{{ u.name }}</td>
          <td>{{ u.surname }}</td>
          <td>
            <a href="{{ url_for('remove_moderator', id=u.id, c=category.id) }}"><input type="submit" value="Remove"
            class="btn btn-secondary"></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="card-header">Candidate moderators:</div>
<div class="card-body">
  <div style="overflow: scroll; height: 222px;"> 
    <table id="moderatorsTbl" class="table table-striped table-bordered table-hover table-sm table-responsive" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for u in candidates %}
        <tr>
          <td>{{ u.name }}</td>
          <td>{{ u.surname }}</td>
          <td>
            <a href="{{ url_for('add_moderator', id=u.id, c=category.id) }}"><input type="submit" value="Add"
            class="btn btn-secondary"></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
