
{% extends 'template.html' %}

{% block main %}
{% if user.is_authenticated %}
    <h5 class="card-header">Welcome {{ user.name }} {{ user.surname }}!</h5>
{% else %}
    <h5 class="card-header">Welcome visitor! </h5>
{% endif %}

<div class="card-body">
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" href={{ url_for('profile')    }}>Profile</a>
        <a class="list-group-item list-group-item-action" href={{ url_for('events')     }}>Events</a>
        <a class="list-group-item list-group-item-action" href={{ url_for('categories') }}>Categories</a>
        <a class="list-group-item list-group-item-action" href={{ url_for('users')      }}>Users</a>
        <a class="list-group-item list-group-item-action" href={{ url_for('ads')        }}>Ads</a>
    </div>
</div>

<div class="card-body">
{% if user.is_authenticated %}
    <div class="card-body">
        <h5>Recommending events...</h5>
        <table class="table table-borderless mt-4 mb-4"> 
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                    <th scope="col"></th> 
                </tr>
            </thead>
            <tbody>
                {% for event in recommended_events %}
                <tr>
                    <td class="align-middle">{{ event.title }}</td>
                    <td class="align-middle">{{ event.description }}</td>
                    <td class="align-middle">
                        <a class="btn btn-sm btn-primary" href="{{ url_for('join', id=event.id) }}">Join</a>
                    </td>
                    <td class="align-middle">
                        <span class="text-muted small font-italic">Recommended!</span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a class="btn btn-secondary" href={{ url_for('user.logout')   }}>Logout</a>
{% else %}
    <a class="btn btn-primary" href={{ url_for('user.login')    }}>Login</a>
    <a class="btn btn-secondary" href={{ url_for('user.register') }}>Register</a>
{% endif %}
</div>
{% endblock %}
