{% extends 'backable.html' %}

{% block content %}
<h5 class="card-header">Personalized Statistics of {{ user.name }}</h5>

{% if ad %}
<div class="card my-4">
    <div class="card-body text-center">
        <span class="position-absolute top-0 end-0 m-2 text-muted small">Ad</span>
        <p class="card-text font-weight-bold">{{ ad.content }}</p>
        <a href="https://www.google.com/search?q={{ ad.content }}" class="btn btn-primary btn-sm">Learn More</a>
    </div>
</div>
{% endif %}

<div class="card-body">
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Events Managed:</strong> {{ user.manages.__len__() }}
    </li>
    <li class="list-group-item">
      <strong>Events Attended:</strong> {{ user.attends.__len__() }}
    </li>
    <li class="list-group-item">
      <strong>Subscriptions:</strong> {{ user.subscriptions.__len__() }}
    </li>
    <li class="list-group-item">
      <strong>Pending Invitations:</strong> {{ user.invitations.__len__() }}
    </li>
  </ul>
</div>

{% endblock %}
