{% extends 'backable.html' %}

{% block content %}
<h5 class="card-header">Update user</h5>
<div class="card-body">
  <div class="card-text">
     <form method='post' action="/update_user">
       <input type="hidden" name="id" id="id" value="{{ user.id }}">
       <div class="form-group mb-1">
         <label for="name" class="form-label">Name</label>
         <input type="text" name="name" id="name" value="{{ user.name }}" class="form-control">
       </div>
       <div class="form-group mb-1">
        <label for="surname" class="form-label">Surname</label>
        <input type="text" name="surname" id="surname" value="{{ user.surname }}" class="form-control">
       </div>
       <div class="form-group mb-1">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" id="username" value="{{ user.username }}"
        class="form-control" disabled>
       </div>
       <div class="form-group mb-1">
        <label for="email" class="form-label">Email</label>
        <input type="text" name="email" id="email" value="{{ user.email }}" class="form-control">
      </div>
      <div class="form-group mb-1">
        <label for="gender" class="form-label">Gender</label>
        <select name="gender" class="form-select">
          <option value="male" {% if user.gender == "male" %}selected{% endif %}>Male</option>
          <option value="female" {% if user.gender == "female" %}selected{% endif %}>Female</option>
          <option value="unknown" {% if not user.gender or user.gender == "unknown" %}selected{% endif %}>Prefer not to say</option>
        </select>
      </div>
       <div class="form-group mb-1">
         <label for="role" class="form-label">Role</label>
         <select name="role" class="form-select">
          {% for r in roles %}
            {% if r.name == user.role.name %}
              <option value={{ r.name }} selected>{{ r.name }}</option>
            {% else %}
              <option value={{ r.name }}>{{ r.name }}</option>
            {% endif %}
          {% endfor %}
         </select>
       </div>
       <input type="submit" value="Submit" class="btn btn-primary">
    </form>
  </div>
</div>
<h5 class="card-header">View Subscriptions</h5>
<div class="card-body">
  <div style="overflow: scroll; height: 222px;"> 
    <table id="mySubscriptionsTbl" class="table table-striped table-bordered table-hover table-sm table-responsive" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        {% for c in user.subscriptions %}
        <tr>
          <td>{{ c.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
